name: Flatpak build
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.10
      options: --privileged
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - name: Install deps
        if: ${{ matrix.arch != 'x86_64' }}
        run: |
          # Use the static binaries because it's unable to use a package manager
          curl https://download.docker.com/linux/static/stable/x86_64/docker-29.1.1.tgz --output ./docker.tgz
          tar xzvf docker.tgz
          mv docker/* /usr/bin
      - name: Set up QEMU
        if: ${{ matrix.arch != 'x86_64' }}
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: photobox.flatpak
          manifest-path: de.matnel.photobox.yaml
          cache-key: flatpak-builder-${{ github.sha }}
          arch: ${{ matrix.arch }}
