on:
  push:
    branches: [main]
  pull_request:
name: Build and test
jobs:
  flatpak:
    name: "Build flatpak and run tests"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.10
      options: --privileged
    steps:
      - uses: actions/checkout@v6
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: photobox.flatpak
          manifest-path: de.matnel.photobox.Devel.yaml
          cache-key: flatpak-builder-${{ github.sha }}
          run-tests: true
